
@font-face {

font-family: "Muller"; 

src: url("../fonts/Fontfabric_-_MullerRegular.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {

font-family: "MullerMedium"; 

src: url("../fonts/Fontfabric_-_MullerMedium.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

body {
	background: #191919;
	color: #fff;
	font-family: "Muller";
}

::-webkit-scrollbar{
	width: 0;
}

header {
	position: relative;
}

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus
{
outline: 0!important;
outline-color: transparent!important;
outline-width: 0!important;
outline-style: none!important;
box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.triangle {
	z-index: 1000;
}



/*Фоновое видео*/

.video {
  	position: relative;
  	background-color: black;
  	height: 100vh;
  	min-height: 25rem;
  	width: 100%;
		overflow: hidden;
}

.video video {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	min-width: 100%;
  	min-height: 100%;
  	width: auto;
  	height: auto;
  	z-index: 0;
  	-ms-transform: translateX(-50%) translateY(-50%);
  	-moz-transform: translateX(-50%) translateY(-50%);
  	-webkit-transform: translateX(-50%) translateY(-50%);
  	transform: translateX(-50%) translateY(-50%);
}

.video .container {
  	position: relative;
	z-index: 2;
}

.top-line {
	position: fixed;
	top: 0;
	background: rgba(0,0,0,0.2);
	transition: 0.5s;
}
/*Модальное окно*/

.modal {
	padding: 0 !important;
	z-index: 2000 !important;
}
.modal-body {
	padding: 20px;
}
.modal-content {
	position: relative;
	height: 100vh;
	width: 100%;
	background-color: rgba(0,0,0, .7);
}

.modal-content::before{
	content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(10px);
}

.modal-dialog {
	margin: 0;
}
.modal-footer {
	border-top: none;
	justify-content: start;
}
@media (min-width: 576px) {
	.modal-dialog {
	    max-width: 100vw;
	    margin: auto;
	}
}

.close {
	width: 14px;
	height: 14px;
	opacity: 1;
	font-size: 0rem;
	margin: 7px 0 7px 7px;
}
.close img {
	width: 16px;
	height: 16px;
	vertical-align: none;
}
.btn {
	border: none;
}

.open_btn {
	position: relative;
}

.open_btn::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 50%;
	height: 1px;
	background-color: #fff;
	transition: 0.2s;
}

.mail_btn:hover .open_btn::after {
	width: 120%;
}

/* Новая модалка */
.modal-video {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0,0,0, .7);
	transition: 1s;
	opacity: 0;
}

.close-btn {
	float: right;
	font-size: 40px;
	margin-top: 6%;
	margin-right: 6%;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.modal-video_item {
	width: 80%;
	margin: 10% auto;
	animation: openModal .8s linear;
}

.active-modal{
	opacity: 1;
}

@keyframes openModal {
	0% {
		transform: scaleX(1);
		transform: scaleY(0);
	}
	50% {
		transform: scaleX(1);
		transform: scaleY(0);
	}
 	100% {
		transform: scaleX(1);
		transform: scaleY(1);
	}
}


/*Шапка сайта*/

.header {
	width: 100%;
	position: fixed;
	z-index: 1050;
	padding: 20px 40px;
	background: rgba(0,0,0,0.2);
}
.headers {
	width: 100%;
	position: relative;
	z-index: 1050;
	padding: 20px 40px;
	background: #000;
}
.logo {
	width: 150px;
}
.logotype {
	height: 30px;
}
.logotext {
	margin-left: 8px;
	height: 26px;
	-webkit-transition: all 1s ease;;
  	-moz-transition: all 1s ease;;
  	-o-transition: all 1s ease;;
	transition: all 1s ease;
}
.logotypes {
	top: 0;
	margin-top: calc(50vh - 42px);
	margin-left: calc(50% - 60px);
	width: 120px;
	height: 120px;
	z-index: 100;
	padding: 0;
	background: rgba(0,0,0,0.5);
	border-radius: 100%;
	-webkit-animation: pulsing 4s infinite;
  	animation: pulsing 4s infinite;
}
.logotypes img {
	-webkit-animation: pulsing 4s infinite;
  	animation: pulsing 4s infinite;
  	width: 60px;
}
@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.7, 0.7)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.7, 0.7);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.7, 0.7)
  }
  50% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
  100% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.7, 0.7);
  }
}
.logotypess .modal {
	padding: 0 !important;
	z-index: 9000 !important;
}
.logotypess .modal-body {
	padding: 0px;
}
.logotypess .modal-backdrop.show {
    opacity: 0;
}
.logotypess .modal-content {
	min-height: 100%;
	border: none;
	border-radius: 0;
	background-color: none;
}
.logotypess .modal-dialog {
	margin: 68px 0 0 0;
}
.logotypess .modal-footer {
	border-top: none;
	justify-content: start;
}
@media (min-width: 576px) {
	.logotypess .modal-dialog {
	    max-width: 80%;
	    margin: 68px auto;
	}
}


.feedback {
	margin: 20px 0;
	padding: 3.5px 0;
	position: absolute;
	top: 0;
	right: 172px;
  	-webkit-transition: all 1s ease;;
  	-moz-transition: all 1s ease;;
  	-o-transition: all 1s ease;;
	transition: all 1s ease;
	font-family: "MullerMedium";
	font-size: 14px;
	color: #fff;
	border-radius: ;
}

.header .feedback {
	border: 1px solid #fff;
	padding: 3.5px 8px;
}
.header .feedback:hover {
	background-color: #fff;
}


.menu {
	padding: 22px 40px;
	position: absolute;
	top: 0;
	right: 0;
}
.menu img {
	width: 19.94px;
	height: 14px;
}
@media (max-width: 576px) {
	.logotext {
		display: none;
	}
}

/*Форма заявки*/

.form form {
	position: absolute;
	top: 50%;
	margin-top: -210px;
	padding: 20px;
	font-size: 0;
}
.form .form-group {
	display: inline-block;
}
.form .form-group h1 {
	font-family: "Muller";
	font-size: 60px;
	color: #fff;
}
.form .form-group input {
	height: 49px;
}
.form .form-group textarea {
	resize: none;
}
.form .form-group button {
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	font-family: "Muller";
	font-weight: 100;
	font-size: 12px;
	color: #fff !important;
	vertical-align: top;
}
.form .form-group p {
	margin: 0 0 0 16px;
	font-family: "Muller";
	font-weight: lighter;
	font-size: 11px;
	color: #fff;
	display: inline-block;
}
.form .form-group p a {
	color: #fff;
	text-decoration: underline; 
}
.form .form-group:last-child {
	margin-top: 40px;
}

.form .form-control {
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #E5E5E5;
	font-family: "Muller";
	font-weight: lighter;
	font-size: 12px;
	color: #fff !important;
}
.form .form-control:focus {
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
}
.form .form-control::placeholder {
	color: #fff !important;
}
.form .form-control::-moz-placeholder {
	color: #fff !important;
}
.form .form-control::-webkit-input-placeholder {
	color: #fff !important;
}
@media (max-width: 760px) {
	.form form {
		top: 0;
		margin-top: 76px;
		padding: 0;
		left: 0;
	}
	.form .form-group h1 {
		font-family: "Muller";
		font-size: 30px;
		color: #fff;
	}
	.form .form-group input {
		height: 30px;
	}
}

/*Меню*/
.menu-modal {
	
}
.menu-modal .contenier-fluid {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -30px;
	width: 100%;
	font-size: 0;
	text-align: center;
}
.menu-modal .contenier-fluid div {
	display: inline-block;
}
.menu-modal .contenier-fluid div a {
	text-decoration: none;
	font-family: "Muller";
	font-weight: 100;
	color: #fff;
	font-size: 40px;
	-webkit-transition: all 2s ease;;
  	-moz-transition: all 2s ease;;
  	-o-transition: all 2s ease;;
	transition: all 2s ease;
}
.menu-modal .contenier-fluid div a:hover {
	opacity: 0.6;
	-webkit-transition: all 0s ease;;
  	-moz-transition: all 0s ease;;
  	-o-transition: all 0s ease;;
	transition: all 0s ease;
}
.modal-footer a {
	text-decoration: none;
	font-family: "Muller";
	color: #fff;

}
.modal-footer a:hover {
	opacity: 0.6;
}
@media (width: 768px) {
	.menu-modal .contenier-fluid {
		position: relative;
		margin-top: 20px;
		width: 100%;
		height: 100%;
		font-size: 0;
		text-align: left;
	}
}
@media (max-width: 768px) {
	.menu-modal .contenier-fluid {
		position: relative;
		margin-top: 20px;
		width: 100%;
		height: 100%;
		font-size: 0;
		text-align: left;
	}
}
@media (max-width: 850px) {
	.menu-modal .contenier-fluid div a {
		font-size: 34px;
		
	}
}


.video .triangle {
	width: 100vw;
	max-width: 100%;
	position: absolute;
	bottom: 0;
}
.video .triangle img {
	width: 120%;
	position: absolute;
	bottom: -1px;
}
.video .triangle h1 {
	font-size: 3vw;
	right: 0;
	font-weight: 100;
	text-align: right;
	position: absolute;
	bottom: -40px;
	z-index: 1;
	margin: 0 40px 40px 0;
}


@media (max-width: 760px) {
	.header {
		margin: 0 0px;
	}
	.video .triangle h1 {
		margin: 0 20px 20px 0;
	}
}

/*О нас*/

.aboutUs {
	position: relative;
	width: 100%;
	padding-top: 60px;
	overflow: hidden;
}
.aboutUs .container-fluid {
	font-size: 0;
}
.aboutUs .container-fluid div {
	/* display: inline-block; */
	margin-bottom: 80px;
}
.aboutUs .container-fluid .col-md-5 {
	font-size: 18px;
	padding: 40px 0 40px 40px;
}
.aboutUs .container-fluid .col-md-5 h1 {
	font-size: 40px;
	font-weight: 500;
	color: #6e6e6e;
	padding-left: 30px;
}
.aboutUs .container-fluid .col-md-5 p{
	padding-left: 30px;
}
.aboutUs .container-fluid .col-md-5 h2{
	padding-left: 30px;
}
.aboutUs .container-fluid .col-md-5 ul{
	list-style-type: none;
	padding: 0;
	margin-top: 40px;
}

.aboutUs .container-fluid .col-md-5 ul li {
	position: relative;
	left: 35px;
	margin-top: 20px;
}

.aboutUs .container-fluid .col-md-5 ul li:after {
	content: '';
	position: absolute;
	top: calc(50% - 2px);
	left: -25px;
	width: 20px;
	height: 2px;
	background-color: #6e6e6e;
}
.aboutUs .container-fluid .col-md-5 button {
	position: relative;
	left: 0;
	right: 0;
	font-size: 20px;
	font-weight: 200;
	color: #fff;
}

.aboutUs_form	{
	position: relative;
	display: flex;
	flex-direction: column;
	font-size: 20px;
	color: #fff;
	margin-left: 30%;
	margin-top: 60px;
}

.aboutUs_form h2 {
	margin-bottom: 20px;
}

.aboutUs_form input {
	background-color: transparent;
	border: none;
	color: #fff;
	border-bottom: 2px solid #fff;
	width: 300px;
	margin-bottom: 20px;
}

.aboutUs_form label {
	top: 40px;
}

.aboutUs_form input[type="submit"] {
	text-align: left;
	margin-top: 30px;
	border: #fff 2px solid;
	padding-bottom: 10px;
	margin-left: -20px;
}

.aboutUs .triangle {
	height: 100%;
	width: 100vw;
	max-width: 100%;
}
.aboutUs .triangle img {
	width: 100%;
}
.aboutUs .triangle h1 {
	font-size: 4vw;
	text-align: left;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	margin: 0 0 20px 40px;
}
.mail_btn{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
	margin-top: 160px;
}
.mail_btn svg {
	width: 90px;
	padding-top: 30px;
	transition: 0.4s;
}

.mail_btn:hover svg {
	transform: scale(1.3);
}
@media (max-width: 1230px) {
	.aboutUs .contenier-fluid .col-md-5 h1 {
		font-size: 50px;
	}
}

.case_block{
	position: relative;
	margin-top: 40px;
	margin-left: 60px;
	height: 100%;
}

.case_block h2 {
	font-size: 40px;
	color: #6e6e6e;
	text-transform: uppercase;
	margin-left: 254px;
}

.case_block p {
	margin-left: 254px;
}

.sub_text {
	font-size: 16px;
	color: #6e6e6e;
	padding-bottom: 40px;
}

.case_block_slider{
	position: relative;
	display: flex;
	width: 100%;
	height: 600px;
	overflow: hidden;
	margin-top: -40px;
}

.case_block_slider_item{
	position: relative;
	margin-left: -80px;
	width: 60%;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	transform: scale(.8)
}

.case_block_slider_item_descr {
	position: absolute;
	background-color: rgba(0,0,0, .75);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding-top: 140px;
	padding-left: 90px;
	opacity: 0;
}

.case_block_slider_item_descr h3 {
	font-size: 20px;
	color: #fff;
	margin-bottom: 80px;
}

.case_block_slider_item_descr p {
	font-size: 12px;
	color: #fff;
	width: 256px;
}

.detail-btn{
	position: absolute;
	right: 95px;
	bottom: 60px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	padding: 5px 30px;
	transition: 0.4s;
}

.detail-btn:hover{
	text-decoration: none;
	color: #000;
	background-color: #fff;
}

.active_slide {
	position: absolute;
	width: 70%;
	height:90%;
	margin-left: 120px;
	left: 1280px;
	top: -40px;
	animation: activeSlide .7s linear both;
}

@keyframes activeSlide {
	0%{
		top: 0;
		z-index: 2;
		transform: scale(.6);
	}
	60%{
		top: 0;
		z-index: 2;
		transform: scale(.6);
		left: 20px;
	}
	100% {
		top: 0px;
		transform: scale(1);
		left: 20px;
		z-index: 2;
		top: -40px;
	}
}

.arrows {
	position: absolute;
	color: #fff;
	font-size: 20px;
	bottom: -20px;
	left: 50px;
	margin: 0;
	display: flex;
	width: 90%;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
}

.partfolio {
	position: relative;
  	width: 100%;
  	overflow: hidden;
		background: #000000;
		transform-style: preserve-3d;
}
.partfolio .contenier-fluid {
	font-size: 0;
}
.partfolio .contenier-fluid div {
	position: relative;
	cursor: pointer;
	display: inline-block;
	padding: 0;
	transform-style: inherit;
	height: 340px;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
}
.partfolio .contenier-fluid div h2 {
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
	font-weight: 100;
	position: absolute;
	opacity: 0;
	bottom: 0;
	margin: 20px;
	transition: .7s ease;
}

.desc_bg	{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0, .7);
	transition: .4s ease;
	z-index: 2;
}

.desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
}

.partfolio .contenier-fluid div:hover .desc {
	transform: scale(1.3);
}

.partfolio .contenier-fluid div:hover .desc_bg {
	opacity: 1;
}

.partfolio .contenier-fluid div:hover .desc_head {
	opacity: 1;

}

.one {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
}
.partfolio .modal iframe {
	padding: 0 !important;
	z-index: 2000 !important;
}
.partfolio .modal-body {
	padding: 0px;
}
.partfolio .modal-backdrop.show {
    opacity: 0;
}
.partfolio .modal-content {
	min-height: 100%;
	border: none;
	border-radius: 0;
	background-color: none;
}
.partfolio .modal-dialog {
	margin: 68px 0 0 0;
}
.partfolio .modal-footer {
	border-top: none;
	justify-content: start;
}
.more_video {
	height: 40px !important;
	margin-top: 15px;
	width: 100%;
	text-align: center;
}
.more_video a {
	position: relative;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.more_videoe a:hover {
	background: #fff;
	color: #191919;
}
.more
@media (min-width: 576px) {
	.partfolio .modal-dialog {
	    max-width: 80%;
	    margin: 68px auto;
	}
}

.partfolio .customers {
	text-align: left;
	margin: 40px;
}
.partfolio .carousel-item {
	height: 80px;
	padding-top: 20px;
}
.partfolio .triangle {
	height: 100%;
	width: 100vw;
	max-width: 100%;
}
.partfolio .triangle img {
	width: 100%;
}
.partfolio .triangle h1 {
	font-size: 3vw;
	right: 0;
	font-weight: 100;
	position: absolute;
	bottom: -10px;
	margin: 0 40px 20px 0;
	z-index: 2;
}

.slider {
	margin-top: 120px;
}

.slider-item {
	height: 100px;
	line-height: 100px;
	text-align: center;
}

.slider-item img {
	display: inline-block;
}

footer {
	width: 100%;
	padding: 30px 40px 60px 180px;
}

.main_footer a{
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

.main_footer a:hover {
	color: darkgrey
}

.footer_head {
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.contact {
	display: block;
}
.foot_information a{
	display: block;
}

.social_links a{
	margin-right: 20px;
}

.offert {
	position: relative;
	width: 100%;
	padding-top: 150px;
	background-color: #000;
}

.offert_header {
	font-size: 45px;
	line-height: 65px;
}

.offert_text {
	margin-top: 80px;
	color: gray;
	margin-bottom: 60px;
	width: 100%;
	height: 60vh;
	overflow-y: scroll;
	padding-right: 60px;
}

.offert_text h3 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 65px;
	padding-bottom: 20px;
}

.offert_text p {
	font-size: 16px;
	line-height: 32px;
}

.offert_text::-webkit-scrollbar {
	width: 7px;
	background-color: rgba(255,255,255, .4);
	border-radius: 5px;
}

.offert_text::-webkit-scrollbar-thumb {
	background-color: #fff;
	border-radius: 5px;
}
.offert_text::-webkit-scrollbar-corner {
	width: 0;
	height: 0;
}

.offert .triangle h1 {
	font-size: 3vw;
	text-align: left;
	font-weight: 100;
	position: absolute;
	bottom: 0;
	right: 20px;
	margin: 0 0 20px 40px;
}
/* @media (max-width: 760px) {

.aboutUs .contenier-fluid .col-md-5 h1 {
	font-size: 30px;
}
.aboutUs .contenier-fluid .col-md-5 {
	font-size: 14px;
	padding: 40px 20px;
}

.aboutUs .contenier-fluid .col-md-7 {
	display: none;
}

.partfolio .contenier-fluid div h1 {
	font-size: 12px;
}

.partfolio .customers {
	text-align: left;
	margin: 20px;
}
.partfolio .customers img {
	width: 60px;
	margin: 0 1% 10px;
}

.partfolio .triangle h1 {
	font-size: 0;
}

.carousel {
	width: 100%;
	height: 200px;
}



.partfoliooo {
  	width: 100%;
  	background: #000000;
}
.partfoliooo .contenier-fluid {
	font-size: 0;
	padding: 40px;
}
.partfoliooo .contenier-fluid div {
	display: inline-block !important;
	font-size: 14px;
	vertical-align: top;
}
.partfoliooo .contenier-fluid div h1 {
	font-size: 36px;
}
.partfoliooo .contenier-fluid div h2 {
	font-size: 18px;
}
.partfoliooo .contenier-fluid div p {
	font-size: 14px;
}
/*.partfoliooo .contenier-fluid iframe {
	width: 100%;
	height: auto;
	max-height: 100%;
}*/
/* .thumb-wrap {
  position: relative;
  padding-bottom: 30%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  /* padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 400px;
}  */

/*width="560" height="315"*/

/* Медиа запросы */
@media screen and (max-width: 1280px) {
	iframe	{
		height: 400px;
	}
}

@media screen and (max-width: 768px) {
	
	footer {
		width: 100%;
		padding: 30px 0 40px 60px;
	}
	.video .triangle h1 {
		bottom: -22px;
	}

	iframe	{
		height: 400px;
		margin-top: 80px;
	}
}

@media (min-width: 320px) and (max-width: 500px) {
	.aboutUs h1{
		font-size: 50px !important;
		padding-right: 8px;
	}
	.aboutUs h2{
		font-size: 30px;
	}

	.aboutUs ul li{
		padding-right: 70px;
	}

	.aboutUs .triangle img {
		display: none;
	}
	.header .feedback{
		display: none;
	}
	.menu-modal .contenier-fluid{
		top: 0;
		display: flex;
		height: 80%;
		flex-direction: column;
		justify-content: space-around;
	}

	iframe	{
		height: 400px;
		margin-top: 80px;
	}


	.social_links a{
		margin-right: 20px;
	}
}